ul {
    list-style-type: none;  
}

.tweet-textarea {
    background-color: white;
    border: none;
}

.tweet-textarea:disabled {
    background-color: white;
    border: none;
}

.btn-form-submit {
    margin-left: 25px;
    margin-bottom: 15px;
}

.header-icon {
    width: 25px;
    height: 25px;
}

.footer {
    background-color: #EEE9E9;
}
