html, body {
    margin:0;
    padding:0;
    height:100%;
}

.content {
    padding-bottom: 100px;
}

ul {
    list-style-type: none;  
}

.tweet-textarea {
    background-color: white;
    border: none;
}

.tweet-textarea:disabled {
    background-color: white;
    border: none;
}

.btn-form-submit {
    margin-left: 25px;
    margin-bottom: 15px;
}

.header-icon {
    width: 25px;
    height: 25px;
}

.footer {
    background-color: #EEE9E9;
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

    .footer-content {
        padding-top: 20px;
    }
