{% extends "base.html" %}

{% block title %}Classificar tweets {% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading"> Tweets para classificar </div>
<form method='POST' action='review/'>
    {% csrf_token %}
    {{ review_formset.management_form }}
    <ul class="list-group">
        {% for review_form in review_formset %}
            <li class="list-group-item">
                <div class="form-group">
                    {{ review_form.tweet }}
                    {{ review_form.tweet_text.label_tag }}
                    {{ review_form.tweet_text }}
                </div>
                <div class ="form-group">
                    {{ review_form.review.label_tag }}
                    {{ review_form.review }}
                    {{ review_form.ironic.label_tag }}
                    {{ review_form.ironic }}
                </div>
            </li>
        {% endfor %}
    </ul>
    <button type="submit" class="btn btn-default">Enviar </button>
</form>
</div>
{% endblock %}

